.client .react-multiple-carousel__arrow {
  display: none;
}
.client .react-multi-carousel-list {
  padding-bottom: 50px;
  cursor: pointer;
}
.client .client_title {
  padding: 30px 0 38px 0;
  font-family: "Gotham", sans-serif;
  text-align: center;
  font-weight: 700;
  font-size: 50px;
  line-height: 110%;
  color: #03115F;
}

@media screen and (min-width: 1920px) {
  .client .container {
    max-width: 1416px;
  }
}

@media screen and (max-width: 1440px) {
  .client .client_title {
    font-size: 50px;
    padding-top: 140px;
  }
}
@media screen and (max-width: 1140px) {
  .client .client_title {
    padding: 85px 0 80px 0;
  }
}
@media screen and (max-width: 991px) {
  .client .client_title {
    font-size: 40px;
  }
}
@media screen and (max-width: 720px) {
  .client .client_title {
    font-size: 35px;
  }
}
@media screen and (max-width: 540px) {
  .client {
    margin-bottom: 0;
  }
  .client .react-multi-carousel-list {
    margin-bottom: 40px;
  }
}
@media screen and (max-width: 414px) {
  .client {
    margin-bottom: 90px;
  }
  .client .react-multi-carousel-list {
    padding-bottom: 0;
    margin-bottom: 0;
  }
  .client .client_title {
    padding: 50px 0;
  }
  .react-multi-carousel-item {
    padding: 30px;
  }
}