//IMPORT ICONFONTS
@font-face {
  font-family: "icons";
  src: url('../fonts/icons.ttf?a1rijf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="_icon-"],
[class*=" _icon-"] {
  &:before {
    display: block;
  }

  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icons', serif;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
._icon-burger:before {
  content: "\e900";
  color: #eeeff1;
}
._icon-analise:before {
  content: "\e900";
}

._icon-autsors:before {
  content: "\e901";
}

._icon-benefits1:before {
  content: "\e902";
}

._icon-benefits2:before {
  content: "\e903";
}

._icon-benefits3:before {
  content: "\e904";
}

._icon-benefits4:before {
  content: "\e905";
}

._icon-chat:before {
  content: "\e906";
}

._icon-design:before {
  content: "\e907";
}

._icon-drible:before {
  content: "\e908";
}

._icon-game:before {
  content: "\e909";
}

._icon-google:before {
  content: "\e90a";
}

._icon-iconar:before {
  content: "\e90b";
}

._icon-prototipe:before {
  content: "\e90c";
}

._icon-serdevs:before {
  content: "\e90d";
}

._icon-support:before {
  content: "\e90e";
}

._icon-techtask:before {
  content: "\e90f";
}

._icon-testing:before {
  content: "\e910";
}

._icon-facebook:before {
  content: "\ea91";
}

._icon-instagram:before {
  content: "\ea92";
}

._icon-whatsapp:before {
  content: "\ea93";
}

._icon-linkedin:before {
  content: "\eac9";
}

//IMPORT ICONFONTS