$base-color: #EEEFF1;
$nav-color: #DDDDE2;
$font-size: 16px;
$blue-color: #1E74EC;
$blue-text: #35417F;
$main-text: #03115F;
$grey-text: #535670;;

$container-max-widths: (
        xs: 414px,
        sm: 540px,
        md: 720px,
        lg: 991px,
        xl: 1140px,
        xxl: 1320px,
);

